* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
.logo {
    display: flex;
    width: 100%;
    background: #000;
    justify-content: center;
    margin-bottom: 10px;
}
.graficlogo {
    box-sizing: border-box;
    max-width: 100%;
    padding: 5px;
}
nav {
	margin: auto;
	width: 800px;
	height: 50px;
	text-align: center;
}
.topnav	{
	border: 5px solid #301818;
	background-color: #FB6703;
	padding: 20px;
	border-radius: 100px;
}
.topnav	a {
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
}
.topnav	a:hover {
	border-bottom: 2px solid #FFF;
}
.topnav .icon {
	display: none;
}
.advantages__container {
	display: flex;
	justify-content: center;
}
.advantages {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}
.advantages__item {
	width: 30%;
    padding-bottom: 30px;
}
footer {
	width: 100%;
	height: auto;
	background-color: #000;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
	border-top: 6px solid #FF2F00;
}
footer p {
	color: white;
}
footer a {
	color: #FFF;
	font-size: 14px;
	margin-left: 10px;
}
footer nav a:hover {
	border-bottom: 1px solid white;
}

.social img {
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover {
	background-color: #494949;
	border-radius: 50%;	
}
#travel {
	padding-bottom: 15px;
}
#the_story {
	margin-top: 65px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 5px;
	border-bottom: 4px solid #FB6703;
}
#the_story a {
	color: #336FB7;
}
#the_story a:hover {
	color: white;
}
#ttb {
	padding-bottom: 5px;
}
#minskfoto {
	padding-left: 15px;
	padding-top: 15px;
	width: 250px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#textalign {
	padding-top: 15px;
}

#pravo {
	padding-right: 15px;
}
p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
   }

#plaren {
	padding-left: 285px;
}
.pravo {
	padding-right: 15px;
}
.otstup {
	padding-left: 15px;
}
.otstup2 {
	padding-left: 35px;
}
.name12 {
	color: white;
	background-color: #FB6703;
	border: 3px solid #301818;
	font-size: 30px;
	margin-top: 65px;
	margin-left: 550px;
	margin-right: 550px;
	padding: 15px;
	border-radius: 100px;
	text-align: center;
}